Crypto Price Alert-free.json
{
  "name": "Crypto Price Alert",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "a37cae20-84e1-4d7b-88e0-d16f4e78abea",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        208
      ]
    },
    {
      "parameters": {
        "url": "https://api.coingecko.com/api/v3/simple/price?ids=bitcoin&vs_currencies=usd&x_cg_demo_api_key=CG-vQXLtYX9dRGBLkyf8s1yrdWC",
        "options": {}
      },
      "id": "20509a80-37b0-42a6-8492-6692d4bb67e2",
      "name": "Fetch Crypto Price",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        464,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.bitcoin.usd }}",
              "rightValue": 70000,
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "id": "026efd16-f8d6-4170-ae16-20b626dc37db"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "77376c7b-d4d2-4822-91a4-b0417c8de163",
      "name": "Check Target Price",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        688,
        208
      ]
    },
    {
      "parameters": {
        "chatId": "6940523969",
        "text": "=🚨 BTC Price Alert!\n\nCurrent price: ${{ $json.bitcoin.usd }}\n\nYour target has been reached!",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "ced169c4-b48f-4766-8161-87d7217de344",
      "name": "Send Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        912,
        208
      ],
      "webhookId": "d9feffa3-f949-4cac-92d9-84603ab6b6c8",
      "credentials": {
        "telegramApi": {
          "id": "Gll0LxkIRX52eXbr",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Fetch Crypto Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Crypto Price": {
      "main": [
        [
          {
            "node": "Check Target Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Target Price": {
      "main": [
        [
          {
            "node": "Send Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "06539df2-a141-43ed-ab3a-6d9a4c2c458a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f899b0275d002b1981b1783aceb6c0277afae0ee70d891bc5410f38c363d9fc2"
  },
  "id": "TG0DJySR25CN6oAr",
  "tags": []
}